@model ElectronicStore.Models.Catalog.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    You description
    @Html.DisplayFor(model => model.Description) 
    <img src="/Content/Image/FridgeAristone.jfif"/>
</div>

