@model IEnumerable<ElectronicStore.Models.Catalog.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<h1>
    CAATALOG
</h1>

@using (Html.BeginForm())
{
    <p style="position:absolute;right:2%;top:10%">
        Searching: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>

}




<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4">

           @Html.ActionLink(item.Name,"Details","Catalog",new {id=item.ID},null),@item.Model,@item.Price,@item.Img<br />
        </div>

    }
</div>
